---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <div class="row">
    <div class="col">
      <h1 class="page-heading">{{ page.title }}</h1>
    </div>
  </div>

  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}

  {%- for post in site.posts limit:10 -%}
  <article class="post">
    <header class="row">
      <div class="col">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
      </div>
    </header>
    <div class="row">
      {%- if post.header_image -%}
      <div class="col-2 home-post-img">
        <img class="img-fluid" alt="{{ post.title }} - post image" src="{{ post.header_image | prepend: site.baseurl }}" />
      </div>
      {%- endif -%}
      <div class="col">
        {{ post.excerpt }} <a href="{{ post.url | prepend: site.baseurl }}">Continue reading...</a>
      </div>
    </div>
  </article>

  {%- endfor -%}
  {%- endif -%}


  {%- if site.posts.size > 10 -%}
    <hr/>
    <br/>
    <a href='{{ "/archive/posts/" | prepend: site.baseurl }}'><i class="fas fa-angle-double-left"></i> Show archived posts</a>
  {%- endif -%}
</div>
